<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Produtos Cadastrados</h1>

        <a href="/produto/cadastrar" class="button">Cadastrar Novo Produto</a>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Preço de Custo</th>
                <th>Armazém</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nomeProduto}"></td>
                <td th:text="${produto.categoria}"></td>
                <td th:text="${produto.quantidade}"></td>
                <td th:text="${#numbers.formatDecimal(produto.precoCusto, 1, 'POINT', 2, 'COMMA')}"></td>
                <td th:text="${produto.nomeArmazem}"></td>
                <td>
                    <a th:href="@{/produto/atualizar/{id}(id=${produto.id})}" class="button edit">Editar</a>
                    <a th:href="@{/produto/deletar/{id}(id=${produto.id})}" class="button delete"
                       onclick="return confirm('Tem certeza que deseja deletar este produto?')">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
